<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
	<head>
		<title>Sample Weather App</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
		<link rel="stylesheet" type="text/css" href="/style.css" />
	</head>

	<body>
		<section class="section">
			<div class="container">
				<h1 class="title has-text-centered">Sample Weather App</h1>
				<form action="/forecast" method="get">
					<div class="field has-addons is-grouped is-grouped-centered">
						<div class="control">
							<input class="input" type="text" name="city" placeholder="City" />
						</div>
						<div class="control">
							<button type="submit" class="button is-primary">Get Weather Forecast</button>
						</div>
					</div>
				</form>
			</div>
		</section>

		<section class="section">
			<div class="table-container">
				<table class="table is-bordered is-striped is-hoverable is-fullwidth">
					<thead>
						<tr>
							<% if (weather.length > 0) { %> 
								<% weather.map((weatherObj) => { %>
									<% if (weatherObj.day) { %> 
										<th class="has-text-centered"><%= weatherObj.day %></th>
									<% } %>
								<% }) %>
							<% } %>
						</tr>
					</thead>
					<tbody>
						<tr>
							<% if (weather.length > 0) { %> 
								<% weather.map(weatherObj => { %>
									<td class="has-text-centered">
										<p>  
											<%= weatherObj.datetime %>
										</p>
										<p>  
											<b><%= weatherObj.temp %>&deg;</b>
										</p>
										<p>  
											<%= weatherObj.weather.description %>
										</p>
										<img src="https://www.weatherbit.io/static/img/icons/<%= weatherObj.weather.icon %>.png" />
										<p>  
											<small>Wind Speed: <%= weatherObj.wind_spd %></small> 
										</p>
										<p>
											<small>Wind Direction: <%= weatherObj.wind_dir %></small>
										</p>
									</td>
								<% }) %>
							<% } %>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</body>
</html>