<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<html>
	<head>
		<title>Sample Weather App</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
		<link rel="stylesheet" type="text/css" href="/style.css" />
	</head>

	<body>
		<section class="section">
			<div class="container form-container">
				<h1 class="title">Sample Weather App</h1>
				<form action="/forecast" method="get">
					<div class="field has-addons is-grouped is-grouped-centered">
						<div class="control">
							<input class="input" type="text" name="city" placeholder="City" />
						</div>
						<div class="control">
							<button type="submit" class="button is-primary">Get Weather Forecast</button>
						</div>
					</div>
				</form>
			</div>
		</section>

		<section class="section">
			<div class="table-container">
				<table class="table is-bordered is-striped is-hoverable is-fullwidth">
					<thead>
						<tr>
							<% if (weather.length > 0) { %> 
								<% weather.map(weatherObj => { %>
									<th><%= weatherObj.temp %></th>
								<% }) %>
							<% } %>
						</tr>
					</thead>
					<tbody>
						<tr>
							<% if (weather.length > 0) { %> 
								<% weather.map(weatherObj => { %>
									<td>
										<p>  
											<%= weatherObj.datetime %>
										</p>
										<p>  
											<%= weatherObj.temp %>
										</p>
										<p>  
											<% if (weatherOne.weather) { %> 
												<%= weatherObj.weather.description %> | <%= weatherObj.weather.icon %>
											<% } %>
										</p>
										<p>  
											<%= weatherObj.wind_spd %> | <%= weatherObj.wind_dir %>
										</p>
									</td>
								<% }) %>
							<% } %>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</body>
</html>